deliveryApi/src/main/resources/application.properties
deliveryApi/src/main/resources/application.yaml

.idea
.vscode

deliverApi/src/main/resources/application.properties
deliveryApi/src/main/resources/application.yaml

deliveryApi/target
